/* parallax */

body {
  margin: 0;
  overflow: hidden;
}

.main-container {
  color: white;
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.parallax {
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  transform-style: inherit;
  width: 100vw;
  box-shadow: inset 0px -150px 200px black;
  animation: fadein 800ms linear 4200ms;
  animation-fill-mode: backwards;
}

@keyframes fadein {
  0% {
    box-shadow: inset 0px -2000px 20px rgb(0, 0, 0);
  }
  100% {
    box-shadow: inset 0px -150px 200px black;
  }
}

.header {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.parallax,
.parallax:before {
  background: 50% 50% / cover;
}

.parallax::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: url("./images/background/parallax-bg.jpg") center;
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
}

.sub-container {
  z-index: 2;
  position: absolute;
  top: 100vh;
  background: black;
  line-height: 30px;
  font-weight: lighter;
  padding: 40px;
  color: grey;
}

/* stroke */
.logo-container {
  animation: animate 800ms linear 1000ms;
  animation-fill-mode: both;
}
.logo-container-bg {
  padding: 8px;
  background-color: white;
}

@keyframes animate {
  0% {
    transform: rotateX(85deg);
    width: 10vw;
    opacity: 0%;
  }
  30% {
    transform: rotateX(85deg);
    width: 10vw;
    opacity: 100%;
  }
  50%,
  80% {
    transform: rotateX(85deg);
    width: 50vw;
  }
  100% {
    transform: rotateX(0deg);
    width: 50vw;
  }
}

.cls-1,
.cls-12,
.cls-3,
.cls-5,
.cls-7,
.cls-9 {
  fill: none;
}

.cls-2 {
  clip-path: url(#clip-path);
}

.cls-12,
.cls-3,
.cls-5,
.cls-7,
.cls-9 {
  stroke: rgba(0, 0, 0, 0.945);
  stroke-miterlimit: 10;
}

.cls-3 {
  stroke-width: 40px;
}

.cls-4 {
  clip-path: url(#clip-path-2);
}

.cls-5 {
  stroke-width: 35px;
}

.cls-6 {
  clip-path: url(#clip-path-3);
}

.cls-7 {
  stroke-width: 38px;
}

.cls-8 {
  clip-path: url(#clip-path-4);
}

.cls-9 {
  stroke-width: 37px;
}

.cls-10 {
  clip-path: url(#clip-path-5);
}

.cls-11 {
  clip-path: url(#clip-path-6);
}

.cls-12 {
  stroke-width: 30px;
}

/* make changes from here */

#sub-h1 {
  stroke-dasharray: 2600;
  stroke-dashoffset: 2600;
  stroke-width: 40;
  animation: letter-animation 2000ms linear forwards;
  animation-delay: 2000ms;
}
#sub-h2 {
  stroke-dasharray: 2600;
  stroke-dashoffset: 2600;
  stroke-width: 40;
  animation: letter-animation 2000ms linear forwards;
  animation-delay: 2300ms;
}
#sub-h3 {
  stroke-dasharray: 2600;
  stroke-dashoffset: 2600;
  stroke-width: 40;
  animation: letter-animation 2000ms linear forwards;
  animation-delay: 2600ms;
}
#sub-e1 {
  stroke-dasharray: 2600;
  stroke-dashoffset: 2600;
  stroke-width: 40;
  animation: letter-animation 2000ms linear forwards;
  animation-delay: 3300ms;
}
#sub-e2 {
  stroke-dasharray: 2600;
  stroke-dashoffset: 2600;
  stroke-width: 40;
  animation: letter-animation 2000ms linear forwards;
  animation-delay: 2900ms;
}
#sub-e3 {
  stroke-dasharray: 2600;
  stroke-dashoffset: 2600;
  stroke-width: 40;
  animation: letter-animation 2000ms linear forwards;
  animation-delay: 3100ms;
}
#sub-l1 {
  stroke-dasharray: 2600;
  stroke-dashoffset: 2600;
  stroke-width: 40;
  animation: letter-animation 2000ms linear forwards;
  animation-delay: 3600ms;
}
#sub-l2 {
  stroke-dasharray: 2600;
  stroke-dashoffset: 2600;
  stroke-width: 40;
  animation: letter-animation 2000ms linear forwards;
  animation-delay: 3900ms;
}
#sub-o1 {
  stroke-dasharray: 2600;
  stroke-dashoffset: 2600;
  stroke-width: 40;
  animation: letter-animation 3500ms linear forwards;
  animation-delay: 4200ms;
}
#sub-ex1 {
  stroke-dasharray: 2600;
  stroke-dashoffset: 2600;
  stroke-width: 40;
  animation: letter-animation 1500ms linear forwards;
  animation-delay: 4800ms;
}

@keyframes letter-animation {
  0% {
    stroke-dashoffset: 2600;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

/* Card flip */
.card-container {
  perspective: 500px;
}

.card-container:hover .card {
  transform: rotateY(180deg);
}

.card {
  transition: transform 0.7s;
  transform-style: preserve-3d;
}

.front,
.back {
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

/*Custom Styles*/
.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  width: 250px;
  height: 350px;
  margin: 10px;
}

.front,
.back {
  box-shadow: 0 1px 6px 0;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

img {
  display: block;
}

/* After thee intro */
.hr-line {
  border-width: 8px;
  border-left: 0;
  border-bottom: 0;
  border-right: 0;
  border-top-style: dashed;
  width: 25%;
}

/* gallery flex */

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {
  display: flex;
  padding: 1rem;
  @media (min-width: 40rem) {
    width: 50%;
  }
  @media (min-width: 56rem) {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &:hover {
    .card__image {
      filter: contrast(100%);
    }
  }
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  //filter: saturate(180%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  &::before {
    content: "";
    display: block;
    padding-top: 56.25%; // 16:9 aspect ratio
  }
  @media (min-width: 40rem) {
    &::before {
      padding-top: 66.6%; // 3:2 aspect ratio
    }
  }
}

.card__image--flowers {
  background-image: url(https://unsplash.it/800/600?image=82);
}

.card__image--river {
  background-image: url(https://unsplash.it/800/600?image=11);
}

.card__image--record {
  background-image: url(https://unsplash.it/800/600?image=39);
}

.card__image--fence {
  background-image: url(https://unsplash.it/800/600?image=59);
}

.card__title {
  color: @gray-dark;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}
